################################################################################
# Visual Studio / .NET
################################################################################

# Visual Studio folder
.vs/
*/.vs/

# Build outputs
bin/
obj/
*/bin/
*/obj/

# User-specific files
*.user
*.suo

# Cache / temp files
*.cache
*.sqlite

# Logs
*.log
